body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(36, 36, 36);
}

.fejlec{
    background-image: url(images/hero3.jpg);
    background-size: cover;
    height: 115vh;
    margin-top: 0px;
    margin: auto;
    width: 75%;
    padding: 10px;
    color: white;
}

.menu{
    margin: auto;
    width: 100%;
    padding: 10px;
}

.menu ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    margin-right: 51px;
}

.menu ul li{
    list-style: none;
    background-color: #db6b2e;
    border-radius: 30px;
    text-align: center;
    padding: 18px;
}

.fejlec ul li a{
    text-decoration: none;
    color: white;
}

.fejlec h1{
    text-align: center;
    margin-top: 5%;
    font-weight: 100;
    font-size: 3.5em;
}

.fejlec p{
    text-align: center;
    color: gray;
    letter-spacing: 2px;
}

#katt{
    list-style: none;
    background-color: #db6b2e;
    border-radius: 30px;
    text-align: center;
    padding: 18px;
    margin: 25px;
    margin-right: 344px;
    margin-left: 344px;

}

.content1{
    max-width: 1158px;
    background-color: rgb(36, 36, 36);
    color: white;
    margin: auto;
    padding-top: 25px;
}

.content1 ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    list-style: none;
}

.content1 ul li{
    margin: auto;
    background-color: #db6b2e;
    border-radius: 30px;
    text-align: center;
    padding: 18px;
    padding-left: 80px;
    padding-right: 80px;
}

.content1 ul li a{
    text-decoration: none;
    color: white;
}

.content1 h1{
    text-align: center;
    font-weight: lighter;
}

.content1 p{
    text-align: center;
    margin: 15px;
    padding-left: 80px;
    padding-right: 80px;
    font-weight: lighter;
    font-size: 15px;
    color: rgb(165, 163, 163);
}

.content2{
    max-width: 1158px;
    margin: auto;
    color: white;
    margin-top: 65px;
}

.content2 h1{
    text-align: center;
    font-weight: 100;
}

.content2 p{
    text-align: center;
    margin: 15px;
    padding-left: 80px;
    padding-right: 80px;
    font-weight: lighter;
    font-size: 15px;
    color: rgb(165, 163, 163);
}

.content2 h3{
    text-align: center;
    font-weight: lighter;
}

.content2 ul{
    padding-left: 12%;
}

.content2 ul li{
    margin-bottom: 2px;
    font-weight: lighter;
    font-size: 15px;
    color: rgb(165, 163, 163);
}

.content2 .kepek1 .kep{
    margin: auto;
}

.content2 .kepek1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    margin-top: 3%;
    padding-left: 90px;
    padding-right: 90px;
}

.content2 img{
    max-width: 350px;
    border-radius: 30px;
}

.content2 h2{
    text-align: center;
    position: relative;
    top: -75px;
}

.content3{
    max-width: 1158px;
    margin: auto;
}

.content3 .kartyak{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
}

.content3 h1{
    color: white;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 75px;
}

.content3 img{
    max-width: 100px;
    margin-left: 25px;
}

.content3 .kartya{
    background-color: white;
    border-radius: 15px;
    width: 50%;
    display: block;
    margin: auto;
    height: 300px;
}

.content3 .kartya h2,p{
    padding-left: 15px;
}

.content3 ul{
    list-style: none;
}

.content3 ul li{
    background-color: #db6b2e;
    border-radius: 30px;
    text-align: center;
    padding: 18px;
    margin-right: 40px;
}

.content3 a{
    text-decoration: none;
    color: white;
}


.content4{
    max-width: 1158px;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 50px;
}

.content4 .kartyak{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    color: white;
}

.content4 .kartya{
    background-color: rgb(69, 69, 69);
    border-radius: 15px;
    width: 65%;
    display: block;
    margin: auto;
    border: 4px solid gray;
    height: 300px;
}

.content4 .kartya h2,p{
    padding-left: 15px;
}

.content4 ul{
    list-style: none;
}

.content4 ul li{
    border: 3px solid #db6b2e;
    border-radius: 30px;
    text-align: center;
    padding: 18px;
    margin-right: 40px;
}

.content4 a{
    text-decoration: none;
    color: white;
}

.content4 h1{
    text-align: center;
    color: white;
    font-weight: lighter;
}

.content5{
    text-align: center;
    padding: 20px;
    color: white;
    max-width: 300px;
    margin: auto;
    border: 3px solid orange;
    border-radius: 25px;
}

.content5 #uzenet{
    height:200px; 
    font-size:14pt;
    margin: 15px;
}

.content5 #uzenet1{
    margin: 15px;
    width: 200px;
}

.footer{
    text-align: center;
    background-color: orange;
    color: black;
    padding: 2px;
    margin-top: 400px;
}

ul li:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #a85427;
}

#katt:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        background-color: #a85427;
}

.nemHover{
    pointer-events: none;
}