.tarolo{
    width: 80%;
    max-width: 850px;
    margin: auto;
}


.fejlec{
    background-image: url(images/hero.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    text-align: center;
    
}

.fejlec p{
    color: gray;
}

.menu ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    list-style-type: none;
    padding: 15px;
}

.menu li{
    background-color: rgb(199, 132, 8);
    padding: 12px;
    border-radius: 15px;
    margin: 5px;
}

.menu a{
    color: white;
    text-decoration: none;
}

.fejlec ul{
    list-style-type: none;
}

.fejlec li{
    background-color: rgb(199, 132, 8);
    padding: 10px;
    border-radius: 17px;
}

#macskaGomb{
    padding: 130px;
}